# Dependencias
node_modules/

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build/Compilación
dist/
build/

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db